body{
    font-family: sans-serif;
    font-size: 14px;
}

#main_title{
    border-bottom: 1px solid #61dafb;
    color: #61dafb;
    padding-left: 20px;
    margin-bottom: 40px;
}

#main_container{
    max-width: 800px;
    min-height: 400px;
    margin: 0 auto;
    background: #fff;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
}
